* {
  box-sizing: border-box;
}

.main {
  background-color: black;
  color: white;
  height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    &__left {
      display: flex;
      .app-name {
        position: relative;
      }
      .fa-stopwatch {
        font-size: 36px;
        position: absolute;
        top: 22px;
        left: 370px;
      }
    }
    &__right {
      .fa-plus {
        font-size: 36px;
        margin-top: 22px;
        margin-right: 30px;
        text-decoration: none;
      }
      .fa-window-close {
        font-size: 36px;
        margin-top: 22px;
        margin-right: 30px;
        text-decoration: none;
        color: red;
      }
    }
  }
  .task-contents {
    margin-top: 50px;
    .task-content {
      height: 100px;
      line-height: 100px;
      display: flex;
      align-items: center;
      .fa-play {
        font-size: 50px;
        margin-left: 30px;
      }
      .content-name {
        font-size: 30px;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 5px;
      }
    }
  }
}

.contents {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  font-size: 25px;
  .new-task {
    margin-top: 40px;
  }
  #form-name {
    margin-top: 50px;
    margin-right: 120px;
    color: black;
  }
  #form-color {
    margin-top: 30px;
    margin-right: 55px;  
    height: 35px;
    width: 275px;
  }
  .btn-success {
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
  .btn-danger {
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
}


.select-btn {
  text-align: center;
}

.color-label {
  position: absolute;
  top: 278px;
  left: 475px;
}

.color-field {
  margin-left: 75px;
  position: relative;
}



a:hover {
  color: white;
  text-decoration: none;
}